<a href="https://colab.research.google.com/github/2303a51355/ADM-2025/blob/main/week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [7]:
data = {'Category': ['sai', 'haari', 'chinni', 'ruhi', 'shiva']}
df = pd.DataFrame(data)
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Category_chinni  Category_haari  Category_ruhi  Category_sai  \
0      sai            False           False          False          True
1    haari            False            True          False         False
2   chinni             True           False          False         False
3     ruhi            False           False           True         False
4    shiva            False           False          False         False

   Category_shiva
0           False
1           False
2           False
3           False
4            True

In [8]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
print(df)

  Category  Category_chinni  Category_haari  Category_ruhi  Category_sai  \
0      sai            False           False          False          True
1    haari            False            True          False         False
2   chinni             True           False          False         False
3     ruhi            False           False           True         False
4    shiva            False           False          False         False

   Category_shiva  Label_Encoded
0           False              3
1           False              1
2           False              0
3           False              2
4            True              4

In [12]:
from datetime import datetime
data = {'Name': ['sai', 'chinni'], 'Date_of_Birth': ['2005-12-02', '2004-04-25']}
df = pd.DataFrame(data)
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

     Name Date_of_Birth  Age
0     sai    2005-12-02   20
1  chinni    2004-04-25   21

In [13]:
data = {'Category': ['A', 'A', 'B', 'B', 'C'], 'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [15]:
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0